<!doctype html>
<html>
<head>
    <meta charset="UTF-8">

    <title>MarkoJS onMount</title>

    $!{out.global.injectCSS}
</head>
<body>
    <div>
        <div>Test onMount component</div>
        <div>---------------------------------------------------</div>
        <br />
        <on-mount></on-mount>
    </div>

    $!{out.global.injectJS}
</body>
</html>
